{%- macro services(nodeConfig) %}
{% set bootnode = nodeConfig | firstByAttr('boot', true) %}
{% set memberPort = 20000 %}
{% set rpcPort = 8545 %}
{% set besuNodes = nodeConfig | byNotAttr('type', 'orion') %}
{% for node in besuNodes %}
{% set isValidator = 'validator' == node.roles | firstByValue('validator') %}
{% set isMember = 'member' == node.roles | firstByValue('member') %}
{% set isRPC = 'rpc' == node.roles | firstByValue('rpc') %}
{%- set orionnode = nodeConfig | firstByAttr('name', node.orion) %}
{% if isValidator or isMember or isRPC %}
{% if isMember %}
  {{ node.name}}besu:
{% else %}
  {{ node.name}}:
{% endif %}
    restart: "on-failure"
    image: hyperledger/besu:${BESU_VERSION:-latest}
    environment:
      - LOG4J_CONFIGURATION_FILE=/config/log-config.xml
    entrypoint:
      - /bin/bash
      - -c
      - |
{% if node.boot %}
        /opt/besu/bin/besu public-key export --to=/tmp/bootnode_pubkey;
{% elif not enableStaticNodes %}
        while [ ! -f "/opt/besu/public-keys/bootnode_pubkey" ]; do sleep 5; done ;
{% endif %}
        /opt/besu/bin/besu \
        --config-file=/config/config.toml \
        --p2p-host=$$(hostname -i) \
        --genesis-file=/config/genesis.json \
        --node-private-key-file=/opt/besu/keys/key \
{%- if privacy and isMember %}
        --privacy-enabled \
        --privacy-url=http://{{- node.name}}orion:8888 \
        --privacy-public-key-file=/config/orion/orion.pub \
        --privacy-onchain-groups-enabled={{- privacyOnchainGroupsEnabled}} \
{%- endif %}
        --rpc-http-api=EEA,WEB3,ETH,NET,{% if privacy %}PRIV,{% endif %}PERM,{{- besuConsApi}} \
        --rpc-ws-api=EEA,WEB3,ETH,NET,{% if privacy %}PRIV,{% endif %}PERM,{{- besuConsApi}} ;
    volumes:
{% if node.boot %}
      - public-keys:/tmp/
{% else %}
      - public-keys:/opt/besu/public-keys/
{% endif %}
      - ./config/besu/config.toml:/config/config.toml
      - ./config/besu/permissions_config.toml:/config/permissions_config.toml
      - ./config/besu/log-config.xml:/config/log-config.xml
      - ./logs/besu:/tmp/besu
      - ./config/besu/{{- besuConsAlgo}}Genesis.json:/config/genesis.json
      - ./config/besu/networkFiles/{{- node.name}}/keys:/opt/besu/keys
{% if privacy and isMember %}
      - ./config/orion/networkFiles/{{- orionnode.name}}/nodeKey.pub:/config/orion/orion.pub
{% endif %}
{% if enableStaticNodes %}
      - ./config/besu/static-nodes.json:/config/static-nodes.json
{% endif %}
{% if isMember or (bootnode and node.name != bootnode.name) %}
    depends_on:
{% if isMember %}
      - {{ node.name}}orion
{% endif %}
{% if bootnode and node.name != bootnode.name %}
      - {{ bootnode.name}}
{% endif %}
{% endif %}
{% if isRPC or isMember %}
    ports:
{% if isRPC %}
      - {{rpcPort}}:8545/tcp
      - {{rpcPort+1}}:8546/tcp
{% set rpcPort = rpcPort + 2 %}
{% endif %}
{% if isMember %}
      - {{memberPort}}:8545/tcp
      - {{memberPort+1}}:8546/tcp
{% set memberPort = memberPort + 2 %}
{% endif %}
{% endif %}
    networks:
{% for network in node.networks %}
      {{network}}:
{%- if not enableDNS %}
        ipv4_address: {{ node.ip}}
{%- endif %}
{% endfor %}

{% if isMember %}
{% set otherOrions = nodeConfig | byAttr('type', 'orion') | byNotAttr('name', orionnode.name) %}
{% if otherOrions %}
  {{ node.name}}orion:
    image: consensys/quorum-orion:${QUORUM_ORION_VERSION:-latest}
    command: ["/config/orion.conf"]
    environment:
      - ORION_OTHERNODES={% for otherOrion in nodeConfig | byArr(otherOrions, 'orion', 'name') %}http://{{- otherOrion.name}}orion:8080/{{',' if not loop.last}}{% endfor %}
      - ORION_NODEURL=http://{{- node.name}}orion:8080
      - ORION_CLIENTURL=http://{{- node.name}}orion:8888
      - LOG4J_CONFIGURATION_FILE=/config/log-config.xml
    volumes:
      - ./config/orion/orion.conf:/config/orion.conf
      - ./config/orion/networkFiles/{{- orionnode.name}}:/keys/
      - ./logs/orion:/tmp/orion
      - ./config/orion/log-config.xml:/config/log-config.xml
    networks:
{% for network in node.networks %}
      {{network}}:
{% if not enableDNS %}
        ipv4_address: {{ orionnode.ip}}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% endif %}
{% endfor %}
{% endmacro %}
